/* Style for dino math */


* {
    /* border: 1px solid brown; */
    font-family: Arial, Helvetica, sans-serif;
}

#calculator {
    display: flex;
    flex-direction: column;
    border: 10px solid #1f2937;
    border-radius: 10px;
    width: 300px;
    height: 500px;
    background-color: #28292a;;
}

#calculator > *{
    flex: 1;
    background-color: #28292a;
    border-radius: 10px;
    margin: 10px;
}

#screen {
    background-color: aliceblue;
    border-radius: 20px;
    text-align: center;
    color: #1f2937;
    /* margin-bottom: -5px; */
}

#numbers {
    display: grid; /* Activate grid layout */
    grid-template-columns: repeat(3, 1fr); /* 2 equal-width columns */
    grid-template-rows: repeat(4, 1fr);   /* 3 equal-height rows */
    /* width: 100%; */
    margin: 0px;
    flex: 0 1 50%;
  }

#operators {
    display: grid; /* Activate grid layout */
    grid-template-columns: repeat(4, 1fr); /* 2 equal-width columns */
    grid-template-rows: repeat(1, 1fr);   /* 3 equal-height rows */
    /* width: 100%; */
    margin: 0px 5px;
    flex: 0 1 12%;

}


.number-button {
    background-color: #444746;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    /* border: 1px solid #ddd; */
    border-radius: 20px;
    margin: 10%;
    color: azure;
}

#operators > * {
    background-color: #2c303d
}


#equals {
    background-color: #a8cffa;
    color: #1f2937;

}


