/* 
######################################
################ General #############
######################################
 */

@import "modern-normalize.css";

:root {
  line-height: 1.5;
}

h1, h2, h3, h4, h5, figure, p, ol, ul {
  margin: 0;
}

ol[role="list"], ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1, h2, h3, h4, h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}


* {
  
    text-align: center;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    /* color: #f9faf8; */

}

body {
    padding: 0px;
    margin: 0px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh

}

.invisible {
    display: none !important;
}


/* 
##########################################
### Style for paper scissors rock 
##########################################
*/

#selection {
    display: flex;
    justify-content: space-evenly;
    background-color: #1f2937;
    padding: 1%;
    margin: 1rem;
    border-radius: 1rem;
}

#buttons {
    display: flex;
    flex-direction: column;
}

#buttons >   {margin: 0px;
}


#container-boxes {
    margin: 20px;
    width: 500px;
    height: 500px;
    color:#3882f6;
    display:flex;
    flex: 0 0 960;
}

.parent-box {
    display: flex;
    flex: 1 1 0;
    flex-direction: column;

}

.grid-box {
    flex: 1 1 0;
    flex-direction: column;
    background-color: #1f2937;
    margin:0px;

}


.grid-box-blue {
    flex: 1 1 0;
    /* border: solid #3882f6; */
    /* border-radius: 0px; */
    flex-direction: column;
    background-color: #f52505;
    margin:0px;

}

#num-boxes {
    color: #1f2937;
}

img {
    width: 100%;
}


/* 
#####################################
### Styles - naughts and crosses #####
##################################### */

.title {
    display: flex;
    justify-content:center;
}

#play-button {
    margin-left: 1rem;
}

#board-container {
    /* background-color: #1f2937; */
    /* height: 500px; */
    display: flex;
    justify-content: center;
    margin-bottom: 100px;

}

#board {
    background-color: #1f2937;
    border-radius: 0.1rem;
    width: 60vw;
    height: 60vw;
    display: flex;
    border: 1px solid #3882f6
}

.parent-box {
    display: flex;
    flex: 1 1 0;
    flex-direction: column;

}

.nc-box {
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    /* margin:-0.1rem; */
    background-color: #3882f6;
    /* border-radius: 1rem; */
    border: 0.1rem solid black;
    justify-content:center;
    align-items: center;
    font-size: 2rem;
}

.nc-box:hover {
    background-color: #4e88e6;
}

