/* 
######################################
################ General #############
######################################
 */

 @import "modern-normalize.css";

 :root {
   line-height: 1.5;
 }
 
 h1, h2, h3, h4, h5, figure, p, ol, ul {
   margin: 0;
 }
 
 ol[role="list"], ul[role="list"] {
   list-style: none;
   padding-inline: 0;
 }
 
 h1, h2, h3, h4, h5 {
   font-size: inherit;
   font-weight: inherit;
 }
 
 img {
   display: block;
   max-inline-size: 100%;
 }
 
 
 * {
     /* justify-content: center; */
     /* align-items: center; */
     text-align: center;
     font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
     /* color: #f9faf8; */
 
 }
 
 body {
     padding: 0px;
     margin: 0px;
 }
 
 .container {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     height: 100vh
 
 }
 
 .invisible {
     display: none;
 }
 
 .section {
     display: flex;
     flex: 1;
     width: 100%;
     align-items: center;
     justify-content: center;
     
 }
 
 #s1 {
     background-color: #1f2937;
     flex-direction: column;
 }
 
 .header {
     font-size: small;
     width: 80%;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     margin-top: 10px;
 }
 
 #header-babies {
     gap: 3px;
     display: flex;
     flex-direction: row;
 }
 
 #more-stuff {
     width: 80%;
     display: flex;
     justify-content: space-between;
 }
 
 
 h1 {
     color: #1f2937;
     font-size: large;
 }
 
 #s2 {
     flex-direction: column;
     color: #1f2937;
 
 }
 
 #info {
     color: #1f2937;
 }
 
 #boxes {
     margin: 0px 10%;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     height: 100%;
     
 }
 
 #boxes2 {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: flex-start;
 }
 
 .box {
     flex: 0 1 0;
     border: 3px solid #3882f6;
     width: 100%;
     margin-top: 0px;
     margin-bottom: 0px;
     border-radius: 5px;
     aspect-ratio: 1;
     max-width: 150px;
    
 }
 
 .box:hover {
     border: 3.5px solid #3882f6;
 }
 
 .gamebox {
     /* flex: 1 1 0; */
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: flex-start;
     /* margin: 0 5%; */
     height: fit-content;
     width:20%
 }
 
 .cap {
     width: fit-content;
     color: #1f2937;
     margin-top: 0px;
     margin-bottom: 1px;
     font-size: small;
 
 }
 
 #s3 {
     color: #1f2937;
     background-color: #e5e7eb;
     display: flex;
     flex-direction: column;
     align-items: center;
 }
 
 #sez {
     flex-direction: row;
     justify-content: right;
     flex:0 1 auto;
     color: #1f2937;
     font-size: large;
     width: 70%;
     text-align: right;
 }
 
 #text {
     flex: 0 1 auto;
     color: #1f2937;
     text-align: right; 
     margin-left: auto;
 }
 
 
 
 em {color: #1f2937;
     margin-right: auto;
 }
 
 #quote {
     font-size: large;
     flex:0 1 auto;
     color: #1f2937;
     width: 75%;
     text-align: left;
     margin-bottom: 10px;
 }
 
 #s4 {
     display: flex;
     flex-direction: column;
 }
 
 #bluebox{
     background-color: #3882f6;
     margin: 30px;
     width: 80%;
     border-radius: 5px;
     padding: 10px;
     justify-content: space-evenly;
     font-size: small;
 }
 
 button {
     flex: 0 1 10px;
     border: 2px solid white;
     border-radius: 10px;
     padding: 5px;
     margin-left: 20px;
     margin-right: 20px;
     justify-content: center;
     width: 100px;
     text-align: center;
     background-color: #3882f6;
 }
 
 button:hover {
     background-color: #8eb0e5;
 }
 
 #click-me {
     flex: 0 1 100px;
 }
 
 
 #writing {
     flex: 1 1 0;
     margin-left: 20px;
 }
 
 #cc {
     background-color: #1f2937;
     font-size: x-small;
 }
 
 
 /* 
 ##########################################
 ### Style for paper scissors rock 
 ##########################################
 */
 
 #selection {
     display: flex;
     background-color: #1f2937;
     padding: 1%;
 }
 
 #buttons {
     display: flex;
     flex-direction: column;
 }
 
 #buttons >   {margin: 0px;
 }
 
 
 #container-boxes {
     margin: 20px;
     width: 500px;
     height: 500px;
     color:#3882f6;
     display:flex;
     flex: 0 0 960px;
 }
 
 .parent-box {
     display: flex;
     flex: 1 1 0;
     flex-direction: column;
 
 }
 
 .grid-box {
     flex: 1 1 0;
     flex-direction: column;
     background-color: #1f2937;
     margin:0px;
 
 }
 
 
 .grid-box-blue {
     flex: 1 1 0;
     /* border: solid #3882f6; */
     /* border-radius: 0px; */
     flex-direction: column;
     background-color: #f52505;
     margin:0px;
 
 }
 
 #num-boxes {
     color: #1f2937;
 }
 
 img {
     width: 100%;
 }
 
 
 /* 
 #####################################
 ### Styles - naughts and crosses #####
 ##################################### */
 
 
 #board-container {
     background-color: #1f2937;
 
 }
 
 #board {
     background-color: #1f2937;
     display: flex;
     width: 50%;
     height: 50%;
 }
 
 .nc-box {
     background-color: #3882f6;
     border-radius: 1rem;
 }